NODE_ENV=development
PORT=3003
CORS_ORIGIN=*
AUTH_ENABLED=false
JWT_SECRET=development-secret
JWT_ISSUER=smart-campus-uce
JWT_AUDIENCE=psychological-care-service
DB_ENABLED=false
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=postgres
DB_NAME=psychological_care_db
DB_SYNCHRONIZE=false
DB_LOGGING=false
