PORT=8080
CORS_ORIGIN=*
SCHOLARSHIP_SERVICE_URL=http://localhost:3000
SOCIOECONOMIC_SERVICE_URL=http://localhost:3001
PSYCHOLOGICAL_SERVICE_URL=http://localhost:3002
SUBJECT_SERVICE_URL=http://localhost:3004
ENROLLMENT_SERVICE_URL=http://localhost:3005
STUDENT_SERVICE_URL=http://localhost:3006
AUTH_ENABLED=false
JWT_SECRET=development-secret
